@charset "utf-8";

* {
	box-sizing: border-box;
}

body {
	background-color: #eee;
}

.img__inner {
	display: flex;
	justify-content: center;
}

.img-resp{
	width: 25%;
	height: auto;
	margin-left: 1rem;
	margin-right: 1rem;
	border: 5px solid #a73535


}


.img-resp:hover{
	border-color: yellowgreen;
}