@charset "utf-8";

* {
	box-sizing: border-box;
}

body {
	background-color: #eee;
}

.img-inner {
	display: flex;
	justify-content: center;
}

.img-resp{
	width: 25%;
	height: auto;
	margin-left: 1rem;
	margin-right: 1rem;
	padding: .3rem;
	background-color: aqua;

}

.img-resp[alt]{
	background-color: blueviolet;
}