@charset "utf-8";

.box {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	border: solid 1px #ccc;
}

.box-item {
	margin-top: 15px;
	margin-bottom: 15px;
	width: 100px;
	height: 50px;
	font-size: 18px;
	font-family: sans-serif;
	background-color: yellowgreen;
}

.box:hover .box-item {
	width: 1000px;
}